<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:f="http://java.sun.com/jsf/core" 
xmlns:p="http://primefaces.prime.com.tr/ui"> 
  <SCRIPT LANGUAGE="JavaScript">	
		function validation()
		{
			<MandatoryValidations>
			return true;
		}
	</SCRIPT>

   <f:view contentType="text/html">
 	<h:head>
            <f:loadBundle basename="ApplicationResources" var="msgs"/>
        <h3><title><h:outputText value="#{msgs.<resourceBundleTablePrefix>_PAGE_TITLE}" /></title></h3>
		<link type="text/css" rel="stylesheet" href="../css/style.css" />
    </h:head>

    <body>
	<div class="topbsg"></div>
 
 
      <div id="wrapper">

      <div id="sidebar"><img class="logo" src="images/logo.png" />
      <div style="position: absolute; color: #FFFFFF; left: 75%; top: 15%; width: auto; white-space: nowrap; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 28px;">
      BaseDataManager</div>
      </div>
     
 
      </div>
	
	
        <p:panel>
			 <f:facet name="header">
               <center> <h3><h:outputText value="#{msgs.<resourceBundleTablePrefix>_<MODE>_PAGE_TITLE}" /></h3></center>
			 </f:facet>
                    <br/>
                <p:messages style="color:red;"/>
                    <br/>

                    <h:form id="<formid>">
                        <table align="center">
                        <AddEditPageContents>  </table>
						
						<table align="center">                          
                          <tr><td><p:commandButton id="<AddEditBtnID>" action="#{<AddEditAction>}" style="float:right" value="#{msgs.<resourceBundleTablePrefix>_BUTTON_<AddEditValue>}" onclick="return validation();" ajax="false"/>&#160;

                          <p:commandButton id="list" action="#{<ListAction>}" value="#{msgs.<resourceBundleTablePrefix>_BUTTON_LIST}"  style="float:right" immediate="true" ajax="false"/>
</td></tr></table>
                    </h:form>
					
					
					 <!-- Added here Div tag -->
		</div>
		</div>
		</div>
					
            </p:panel>
		</body>
        </f:view>
</html>
