package <Package>.dao;

import org.springframework.orm.ibatis.*;
import org.springframework.orm.ibatis.support.*;
import org.springframework.dao.*;
import <Package>.vo.<ValueObject>;
import <Package>.util.HexApplicationException;
import java.util.List;
import java.util.Map;
import java.util.ArrayList;
import java.util.Iterator;

public class <ClassName>DaoImpl extends SqlMapClientDaoSupport implements <ClassName>Dao {

    public <ValueObject> select(<ValueObject> poObject) throws HexApplicationException {
		try
		{
			return (<ValueObject>)getSqlMapClientTemplate().queryForObject("select_<ClassName>", poObject);			
		}
		catch (DataAccessException poExp)
		{
			throw new HexApplicationException(poExp);
		}		
    }

    public void insert(<ValueObject> poObject) throws HexApplicationException{
		try
		{
			getSqlMapClientTemplate().update("insert_<ClassName>", poObject);
		}
		catch (DataAccessException poExp)
		{
			throw new HexApplicationException(poExp);
		}
    }

    public void update(<ValueObject> poObject) throws HexApplicationException {
		try
		{
			getSqlMapClientTemplate().update("update_<ClassName>", poObject);
		}
		catch (DataAccessException poExp)
		{
			throw new HexApplicationException(poExp);
		}
    }

    public void delete(<ValueObject> poObject) throws HexApplicationException {
		try
		{
			this.getSqlMapClientTemplate().update("delete_<ClassName>", poObject);
		}
		catch (DataAccessException poExp)
		{
			throw new HexApplicationException(poExp);
		}
    }
    public void deleteAll(java.util.Collection entries) throws HexApplicationException {
		try
		{
			this.getSqlMapClientTemplate().update("deleteAll_<ClassName>", entries);
		}
		catch (DataAccessException poExp)
		{
			throw new HexApplicationException(poExp);
		}
    }

    public java.util.List getAll<ValueObject>() throws HexApplicationException {
		try
		{
			return this.getSqlMapClientTemplate().queryForList("getAll_<ClassName>", null);
		}
		catch (DataAccessException poExp)
		{
			throw new HexApplicationException(poExp);
		}
    }
    public java.util.List getAll<ValueObject>( int startRecord, int endRecord ) throws HexApplicationException {
		try
		{
			return this.getSqlMapClientTemplate().queryForList("getAll_<ClassName>", null, startRecord, endRecord);
		}
		catch (DataAccessException poExp)
		{
			throw new HexApplicationException(poExp);
		}
    }
    public int get<ValueObject>Count() throws HexApplicationException {
		try
		{
			Integer loInteger = (Integer)this.getSqlMapClientTemplate().queryForObject("getCount_<ClassName>", null);
			if ( loInteger != null)
				return loInteger.intValue();
			else
				return 0;
		}
		catch (DataAccessException poExp)
		{
			throw new HexApplicationException(poExp);
		}
    }

 
 public List search(String fieldValue, String columnName)
			throws HexApplicationException {

			System.out.println("Entering into DAO implementation : " + fieldValue + "***" +columnName );
		
		try {
			return this.getSqlMapClientTemplate().queryForList("search_<ClassName>", null);


		} catch (DataAccessException poDAE) {
			throw new HexApplicationException(poDAE);
		}
	}


<SelectColumnsMethods>

}