<%@ taglib uri="/WEB-INF/struts-html.tld" prefix="html"%>
<%@ taglib uri="/WEB-INF/struts-bean.tld" prefix="bean"%>
<%@ taglib uri="/WEB-INF/struts-logic.tld" prefix="logic"%>
<html>
<body>
	<form>
		<table border=0 width="50%" cellspacing="2" cellpadding="2" align="center">
		<tr>		
		<warFileList>
		 </tr>	
		</table>
	</form>
</body>
<html>
